.link {
    display: grid;
    height: max-content;
    width: max-content;
    grid-template-columns: max-content max-content;
    gap: 0 5%;
    align-items: center;
    justify-items: center;
    font-size: 1rem;
}

.hoverCircle {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
    background-color: #FF3333;
}