.main {
    margin-top: 10px;
    display: grid;
    justify-items: center;
    height: max-content;
    z-index: 100;
    position: sticky;
    top: 0;
    grid-template-columns: repeat(3,max-content);
    gap: 0 20px;
}