.main {
    display: grid;
    height: min-content;
    padding: 10px;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    transition: .5s;
}

.mainTextAndImg {
    gap: 10px;
    background-color: rgb(0, 0, 0,.025);
    grid-template-columns: min-content max-content;
}

.mainTextAndImg:hover {
    background-color: rgb(0, 0, 0,.05);
}

.mainTextAndImg:hover > .imageBox {
    transform: rotate(135deg);
}

.imageBox {
    border-radius: 100%;
    background-color: #FF3333;
    display: grid;
    height: 20px;
    width: 20px;
    align-items: center;
    justify-items: center;
    transition: .5s;
}

.image {
    height: 50%;
    width: 50%;
}

.mainText {
    border: 1px black solid;
    padding: 0 5px;
    height: 25px;
}

.mainText:hover {
    border: 1px #FF3333 solid;
    color: #FF3333;
}

.mainImg {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    border: 1px black solid;
    padding: 6px;
}

.mainImg:hover {
    border: 1px #FF3333 solid;
}

.mainImg:hover > .icon {
    filter: invert(38%) sepia(87%) saturate(3973%) hue-rotate(342deg) brightness(101%) contrast(105%);
}