.main {
    display: grid;
    height: min-content;
    padding: 10px;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    transition: .5s;
}

.mainTextAndImg {
    gap: 10px;
    background-color: var(--color-link);
    grid-template-columns: min-content max-content;
}

.mainTextAndImg:hover {
    background-color: var(--color-hover-link);
}

.mainTextAndImg:hover > .imageBox {
    transform: rotate(135deg);
}

.imageBox {
    border-radius: 100%;
    background-color: var(--color-accent);
    display: grid;
    height: 20px;
    width: 20px;
    align-items: center;
    justify-items: center;
    transition: .5s;
}

.image {
    height: 50%;
    width: 50%;
}

.mainText {
    border: 1px var(--color-main) solid;
    padding: 0 5px;
    height: 25px;
}

.mainText:hover {
    border: 1px var(--color-accent) solid;
    color: var(--color-accent);
}