.main {
    height: max-content;
    width: 90%;
    margin: auto;
    border-top: 1px var(--color-main) solid;
    margin-top: 25px;
    padding-top: 25px;
}

.titleBox {
    height: max-content;
    display: grid;
    justify-items: center;
    position: relative;
    float: left;
    margin: 10px 20px 10px 0;
}

.circle {
    position: absolute;
    height: 100%;
    background-color: var(--color-accent);
    border-radius: 100%;
    aspect-ratio: 1/1;
    z-index: -1;
    transition: .5s;
}

.titleBox:hover > .circle{
    transform: scale(1.1);
}